/practico1_ej1/nbproject/private/
/practico1_ej1/build/
/practico1_ej1/dist/
/JavaApplication14/nbproject/private/
/ejemploFer/nbproject/private/
/ejemploFer/build/
/POO tp1/nbproject/private/
/POO tp1/build/
/Ej_fecha/nbproject/private/
/Ej_fecha/build/
/Ej_fecha/dist/
/JavaApplication14/build/
/GestionUniversidad/build/
/fecha/nbproject/private/
/fecha/build/
/JavaApplication19/nbproject/private/
/AccesoABaseDeDatos/build/
/CarreraMortal/build/
/ClinicaVeterinaria/build/
/nbproject/private/
/holamundo/nbproject/private/
/holamundo/build/
/JuanIgnacioNavarro/Universidad - NetBeans/build/
/JuanIgnacioNavarro/Universidad - NetBeans/nbproject/private/
/taller primera parte/Taller/build/
/taller primera parte/Taller/dist/
/taller primera parte/Taller/nbproject/private/
/Nutricionista2/nbproject/private/
/Mortal/nbproject/private/
/Ejemplo Cliente/nbproject/private/
/Ejemplo Cliente/build/
/p1ejercicio3/nbproject/private/
/p1ejercicio3/build/
/proyectoUniversidad/nbproject/private/
/proyectoUniversidad/build/
/ejercicio2/build/
/accesoabasededatos/nbproject/private/
/accesoabasededatos/build/
/coleccion/nbproject/private/
/coleccion/build/
/Robot/nbproject/private/
/Robot/build/
/POO tp1-viaje/build/
/POO tp1-viaje/nbproject/private/
/p1ejercicio3-fecha/build/
/p1ejercicio3-fecha/nbproject/private/
/Viaje_sin_coronavirus/nbproject/private/
/Viaje_sin_coronavirus/build/
/practico5/nbproject/private/
/practico5/build/
/arreglos p5/nbproject/private/
/arreglos p5/build/
/map/nbproject/private/
/map/build/
/WC23/nbproject/private/
/WC23/build/
/TP6-master/nbproject/private/
/TP6-master/build/
/ulp/nbproject/private/
/ulp/build/
/Validar/nbproject/private/
/Validar/build/
/vistas_universidad--master/nbproject/private/
/vistas_universidad--master/build/
/cine2020/nbproject/private/
/ProyectoTransversal-master/nbproject/private/
/ProyectoTransversal-master/build/
/propiedad/nbproject/private/
/propiedad/build/
/carreraPandemia/nbproject/private/
/carreraPandemia/build/
/clases17/nbproject/private/
/clases17/build/
/tp6-arrgloBiDimension/nbproject/private/
/tp6-arrgloBiDimension/build/
/TestAgendaTelefonica_1_1/nbproject/private/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/EjemploUniversidad/nbproject/private/
/EjemploUniversidad/build/
/ULP-Practico-Transversal-master/nbproject/private/
/Universidad-master/nbproject/private/
/PruebaFcha/nbproject/private/
/PruebaFcha/build/
/Universidad2/nbproject/private/
/trabajoGrupal-grupo7-main/nbproject/private/
/GestionProductos/nbproject/private/
/GestionProductos/build/
/Tp-6-Vistas-master/nbproject/private/
/Tp-6-Vistas-master/build/
/tp6-pogliese/nbproject/private/
/tp6-pogliese/build/
/ProyecoUniversisdad2021/nbproject/private/
/ProyecoUniversisdad2021/build/
/EjercicioPrueba/nbproject/private/
/EjercicioPrueba/build/
/proyecto1/nbproject/private/
/proyecto1/build/
/proyecto 2/nbproject/private/
/SmartPhone/nbproject/private/
/SmartPhone/build/
/Celular2/nbproject/private/
/Celular2/build/
/viaje2021/nbproject/private/
/viaje2021/build/
/ProyectoCelularJava/nbproject/private/
/ProyectoCelularJava/build/
/arregloMascotass/nbproject/private/
/arregloMascotass/build/
/bidireccional/nbproject/private/
/colecciones2021/nbproject/private/
/colecciones2021/build/
/colecciones2021/dist/
/proyectoInterfazGrafica/nbproject/private/
/proyectoInterfazGrafica/build/
/ProyectoBiblioteca/nbproject/private/
/ProyectoBiblioteca/build/
/proyectoUniversidadULP/nbproject/private/
/proyectoUniversidadULP/build/
/anio2022/nbproject/private/
/anio2022/build/
/Carrera/nbproject/private/
/Figura2022/nbproject/private/
/practicoPersonaje/nbproject/private/
/practicoPersonaje/build/
/Ejercicio 3.4/nbproject/private/
/Ejercicio 3.4/build/
/Ejercicicio 3.5--/nbproject/private/
/Ejercicicio 3.5--/build/
/Ejercicicio 3.6--/nbproject/private/
/Ejercicicio 3.6--/build/
/Librerira- 5-5-2022/nbproject/private/
/Librerira- 5-5-2022/build/
/JavaApplication37/nbproject/private/
/JavaApplication37/build/
/Institucion/nbproject/private/
/Institucion/build/
/pruebaDebug/nbproject/private/
/pruebaDebug/build/
/JavaApplication40/nbproject/private/
/JavaApplication40/build/
/JuwgoAhorcado/nbproject/private/
/JuwgoAhorcado/build/
/guia8-ejercicio2/nbproject/private/
/guia8-ejercicio2/build/
/guia8-ejercicio3/nbproject/private/
/guia8-ejercicio3/build/
/Guia8-cina/nbproject/private/
/Guia8-cina/build/
/libreria/nbproject/private/
/libreria/build/
/herenciaPersona/nbproject/private/
/herenciaPersona/build/
/abstracto/nbproject/private/
/GUIA10-EXCEPCIONES/nbproject/private/
/GUIA10-EXCEPCIONES/build/
/claseUno/nbproject/private/
/claseUno/build/
/PruebaAuto/nbproject/private/
/Comision3/nbproject/private/
/Comision3/build/
/ECXCEPCION/nbproject/private/
/ECXCEPCION/build/
/matricesCom3/nbproject/private/
/matricesCom3/build/
/JavaApplication54/nbproject/private/
/JavaApplication55/nbproject/private/
/JavaApplication54/build/
/JavaApplication56/nbproject/private/
/JavaApplication56/build/
/JavaApplication57/nbproject/private/
/JavaApplication58/nbproject/private/
/JavaApplication58/build/
/JavaApplication59/nbproject/private/
/JavaApplication59/build/
/herenciaFamiliar/nbproject/private/
/herenciaFamiliar/build/
/Celular2022/nbproject/private/
/Celular2022/build/
/Figura2022/build/
/JavaApplication62/nbproject/private/
/JavaApplication63/nbproject/private/
/JavaApplication62/build/
/AtencionPacientes/nbproject/private/
/AtencionPacientes/build/
/TestAgendaTelefonica_1_1/build/
/JavaApplication65/nbproject/private/
/JavaApplication65/build/
/Egg java/nbproject/private/
/JavaApplication67/nbproject/private/
/JavaApplication67/build/
/JavaApplication68/nbproject/private/
/universidad20223/nbproject/private/
/universidad20223/build/
/JavaApplication70figura2023-/nbproject/private/
/JavaApplication70figura2023-/build/
/JavaApplication71/nbproject/private/